#box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8%;
   row-gap: 30px;
}
#carousel{
margin-top: 50px;
    width: 100%;
    text-align: center;
    }
#box>div>img{
    width: 70%;
}
#box>div>p{
    font-size: 18px;
    font-weight: bold;
    color: teal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
}
#loader{
    width: 20%;
    margin: auto;
   display: none;
    text-align: center;
    margin-top: 50px;
}

#loader>img{
    width: 100%;
  
}

#bar{
    display:  flex;
    justify-content: center;
    margin-top: 30px;
    
   
}
#bar>input{
 margin-right: 1%;
 padding: 15px;
 border-radius: 20px;
 outline: 0ch;
 background-color: aqua;
 font-size: 12px;
 font-weight: bold;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

#bar>button{
  
    padding: 10px;
    border-radius: 20px;
    background-color: tomato;
    font-size: 14px;
 font-weight: bold;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
 cursor: pointer;
   }









   #nav{
    display: flex;
    color:#83878e;
    justify-content: space-between;
   
}
#nav>div{
    display: flex;
   
    width: 35%;
    justify-content: space-between;
    align-items: center;
}
#left{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#nav>div>div{
   
    text-align: center;
}
#nav>div>div>input{
    padding: 5px;
   
}
#right>div:nth-child(1){
    border-bottom: 2px solid white;
}
#right>div:nth-child(1)>input{
    outline: 0ch;
    border: 0px;
    background-color: black;
    color: white;
}
#right>div:nth-child(2){
  margin-left: -80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rebeccapurple;
    color: white;
    cursor: pointer;
   
    
}
#right>div:nth-child(2)>img{
    width: 20%;
}
#right{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
   
}
#right>div:nth-child(4){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
}
#right>div:nth-child(3){
    width: 25%;
    cursor: pointer;
}
#right>div:nth-child(3)>button{
   background-color: #1f80e0;
   border-radius: 8px;
   width: 100%;
   color: white;
   font-weight: 700;
   font-size: 12px;
   line-height: 24px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   cursor: pointer;
}